<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta th:remove="tag" th:include="fragments/head">
    <title>编辑角色</title>

    <link th:href="@{/styles/pages/role/edit.css}" rel="stylesheet" type="text/css"/>
</head>

<body class="layui-layout-body layadmin-tabspage-none">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:include="fragments/header"></div>

    <div class="layui-side layui-side-menu" th:include="fragments/nav-bar-side"></div>

    <div class="layui-body">


        <div class="layui-card layadmin-header">
            <div class="layui-breadcrumb">
                <a><cite>主页</cite></a>
                <span lay-separator="">/</span>

                <a><cite>系统管理</cite></a>
                <span lay-separator="">/</span>

                <a href="/role/layout/management">角色维护</a>
                <span lay-separator="">/</span>

                <a th:href="'/role/copy/' + ${roleInfo.roleUid} + '.html'">复制角色</a>

            </div>
        </div>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" lay-filter="form-info" action="">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            复制角色
                        </div>

                        <!--基础信息start-->
                        <div class="layui-card-body">
                            <blockquote class="layui-elem-quote">基础信息</blockquote>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-label-required">角色名称</label>
                                <div class="layui-input-inline layui-input-lg">
                                    <input type="text"  name="role_name"
                                           lay-verify="*1-30"
                                           lay-errorText="请输入正确的角色名称" lay-nullText="角色名称不能为空"
                                           placeholder="中英文、数字，限30字符" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label layui-label-required">角色描述</label>
                                <div class="layui-input-inline layui-input-lg">
                                    <textarea name="role_desc" placeholder="限200字符"
                                              lay-verify="*1-200" lay-errorText="请输入正确的角色描述信息"
                                              lay-nullText="角色描述不能为空"
                                              class="layui-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--基础信息end-->

                        <!--权限配置start-->
                        <div class="layui-card-body">
                            <blockquote class="layui-elem-quote">权限配置</blockquote>
                        </div>
                        <!--折叠 start-->
                        <div class="layui-card-body">
                            <div class="layui-collapse layui-form" id="createRoleAuthority">

                            </div>
                        </div>
                        <!--折叠 end-->
                        <!--权限配置end-->
                    </div>
                    <div class="layui-page-bottom">
                        <a class="layui-btn" lay-submit lay-filter="form-role">保存</a>
                        <a class="layui-btn layui-btn-primary" href="/role/layout/management">取消</a>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>

<!-- 辅助元素，一般用于移动设备下遮罩 -->
<div class="layadmin-body-shade" layadmin-event="shade"></div>

<footer>
    <div th:remove="tag" th:include="fragments/footer"></div>
</footer>
</body>
</html>
<!--权限列表-->
<script id="createRoleAuthorityTpl" type="text/html" th:inline="text">

    {{# for(var i = 0, leng = roleMenuPermission.length; i < leng; i++){ }}
    {{# if(roleMenuPermission[i].menuType != 'TYP_BUILT_IN'){ }}
    <div class="layui-colla-item">
        <!--一级权限菜单-->
        <h2 class="layui-colla-title layui-colla-title-hasmore layui-this" lmf-event="role-icon-show">

            <input
                    lay-filter="role-first-menu"
                    type="checkbox"
                    name=""
                    first-menu-name="role-first-menu"
                    lay-skin="primary"
                    value="{{ roleMenuPermission[i].menuId }}"
                    title="{{roleMenuPermission[i].menuName }}"
            >

            <div class=" layui-input-inline layui-colla-title-more">
                <span>收起</span>
                <i class='layui-icon layui-icon-up'></i>
            </div>

        </h2>

        <div class="layui-colla-content layui-show">
            {{# for(var j = 0, len = roleMenuPermission[i].children.length; j < len; j++){ }}
            {{# if(roleMenuPermission[i].children[j].menuType != 'TYP_BUILT_IN'){ }}
            <!--二级权限菜单-->
            <div class="layui-row">
                <div class="layui-input-inline role-second-menu">

                    <input type="checkbox"
                           name=""
                           second-menu-name="role-second-menu"
                           lay-skin="primary"
                           value="{{ roleMenuPermission[i].children[j].menuId }}"
                           title="{{ roleMenuPermission[i].children[j].menuName }}"
                           lay-filter="role-second-menu"
                           first-menu-uid="{{ roleMenuPermission[i].menuId }}"
                    >
                </div>
                <!--三级权限菜单-->
                {{# for(var k = 0, lenth =roleMenuPermission[i].children[j].permissions.length; k < lenth; k++){ }}

                <div class="layui-input-inline role-third-menu">
                    <div class="layui-input-inline">
                        {{# if(roleMenuPermission[i].children[j].permissions[k].isRoleSelected == true){ }}
                        <input type="checkbox"
                               name="permission_uids"
                               third-menu-name="role-third-menu"
                               checked
                               lay-skin="primary"
                               value="{{roleMenuPermission[i].children[j].permissions[k].permissionUid}}"
                               title="{{roleMenuPermission[i].children[j].permissions[k].permissionName}}"
                               lay-filter="role-third-menu"
                               first-menu-uid="{{ roleMenuPermission[i].menuId }}"
                               second-menu-uid="{{ roleMenuPermission[i].children[j].menuId }}"
                        >
                        {{# } }}
                        {{# if(roleMenuPermission[i].children[j].permissions[k].isRoleSelected == false){ }}
                        <input type="checkbox"
                               name="permission_uids"
                               third-menu-name="role-third-menu"
                               lay-skin="primary"
                               value="{{roleMenuPermission[i].children[j].permissions[k].permissionUid}}"
                               title="{{roleMenuPermission[i].children[j].permissions[k].permissionName}}"
                               lay-filter="role-third-menu"
                               first-menu-uid="{{ roleMenuPermission[i].menuId }}"
                               second-menu-uid="{{ roleMenuPermission[i].children[j].menuId }}"
                        >
                        {{# } }}
                    </div>
                </div>
                {{# } }}
            </div>
            {{# } }}
            {{# } }}
        </div>
    </div>
    {{# } }}
    {{# } }}

</script>
<script type="text/javascript" th:inline="javascript">
    var roleInfo = [[${roleInfo}]];
    var roleMenuPermission = [[${menuPermission}]];
</script>
<script type="text/javascript" th:src="@{/scripts/pages/role/copy.js?201806251439}"></script>
