<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object Array</title>
</head>
<body>
<script>

    //对象的定义方式，和取值方式
    // var person = new Object();
    // person.name = 'cww';
    // person.age = 12;
    // console.log(person);
    //
    // var persons = {
    //     "55": "cww"
    // }
    // console.log(persons);
    // console.log(person["name"]);
    //
    // //数组
    // var color = ["gree","yellow","red"];
    // color[8] = "pink";
    // console.log(color);
    // console.log(color.toString());
    // console.log(color.join("cww"));

    //栈
    // var cww = new Array();
    // cww.push("cww");
    // cww.push("c");
    // console.log(cww);


    //队列


    //数组的自定义排序

    //拼接数据


    var color = ["gree","yellow","red"];

        color.forEach(function (value, index, array) {
            if (value == "gree") {
                console.log("cwws");
            }
        })

</script>
</body>
</html>